# Configuration de l'API Backend Chez Roger Becker sur Render
VITE_API_URL=https://chez-roger-becker-backend.onrender.com/api/v1
VITE_SOCKET_URL=https://chez-roger-becker-backend.onrender.com

# Configuration Firebase Web Push (FCM)
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=
VITE_FIREBASE_VAPID_KEY=
